<!DOCTYPE html>
<html>
<head>
    <title>
	<%= title %>
	</title>
	<meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" >
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

       
	    /* Give a background image to the jumbotron container */
		.jumbotron
		{
			background-image:url(img/bg3.jpg);
			background-size:cover;
		}



    </style>
</head>


<body>


 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="aboutme">About Me</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
		 <li><a href="/contactme">Contact Me</a></li>
      </ul>   
    </div>
  </div>
</nav>


<div class="jumbotron">
	<div class="container-fluid  text-center"  > 
	<h1 style="color: #00ffff; font-style:italic; ">Jaswinder Sidhu</h1>
	
	<div class="row" >

    <div class="col-sm-10">
    <p style="text-align:justify; font-style:italic;">
	 Hi, I am a student in Centennial College where I am pursuing post graduate diploma in Software 
	 Engineering Technology. I was born in India and I basically belong to Punjab. After passing high school,
	 I started my bachelors degree in 2010. I completed my graduation in Computer Science and Engineering
	 in 2014. After graduation, I migrated to Canada for further studies. Here, I started at Centennial College in 
	 January 2015. I have learned many things during my course of study. Life is a journey and I am contunuing this 
	 journey of life with a smile on my face.
	</p>
	</div>

	 <div class="col-sm-2">
	 <img src="img/me.png" class="img-responsive" style="width:10; height:10;" alt="Image">
	 </div>

	</div>
 </div>

 <br><br><br><br><br><br>
 <br><br><br><br><br><br>

</div>


</body>
</html>
