<!DOCTYPE html>
<html>
<head>
    <title>
	<%= title %>
	</title>
	<meta charset="utf-8" />
	 <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" >
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

		/* Give a background image to the jumbotron container */
        .jumbotron
		{
			background-image: url(img/bg6.jpg);
			background-size:cover;
		}
    </style>
</head>
<body>



 <nav class="navbar navbar-inverse">
  <div class="container-fluid">
   
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home</a></li>
        <li><a href="aboutme">About Me</a></li>
        <li><a href="/services">Services</a></li>
        <li><a href="/projects">Projects</a></li>
		 <li><a href="/contactme">Contact Me</a></li>
      </ul>
      
    </div>
  </div>
</nav>




<div class="jumbotron">
  <div class="container-fluid bg-3 text-center">
  <h1 style="font-style: italic;">Some of my Work</h1><br>
  <div class="row">
	<div class="col-sm-2">
	</div>
    <div class="col-sm-3">
      <p>Web game </p>
      <img src="img/projects/game1.png" class="img-responsive" style="width:300px; height:200px;" alt="Image">
	  <br>
      <img src="img/projects/game2.png" class="img-responsive" style="width:300px; height:200px;" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>College Messenger(php project)</p>
     <img src="img/projects/php1.png" class="img-responsive" style="width:300px; height:200px;" alt="Image">
	 <br>
      <img src="img/projects/php2.png" class="img-responsive" style="width:300px; height:200px;" alt="Image">
    </div>
    <div class="col-sm-3">
      <p>A framing website in Java</p>
      <img src="img/projects/java2.jpg" class="img-responsive" style="width:300px; height:200px;" alt="Image">
	  <br>
      <img src="img/projects/java3.jpg" class="img-responsive" style="width:300px; height:200px;" alt="Image">
    </div>
   
  </div>
</div>

</div>


</body>
</html>
